.table th, .table td {
    overflow: hidden;
}
.rectangle {
    width: 30px;
    height: 30px;
    background: green;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid  #ffc107;
}
.circle {
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%
}
.error-parent {
    overflow-x: hidden;
    overflow-y: auto;
}
.error-table > tbody > tr > td {
    padding: 0.75rem !important;
}
